@model DayOut.Models.SelectTimesViewModel
@{
    ViewData["Title"] = "SelectStartEndTime";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SelectStartEndTime</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="SelectStartEndTime">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Customer.RandStartTime" class="control-label"></label>
                <select asp-for="Customer.RandStartTime" class="form-control" asp-items="ViewBag.Time"></select>
            </div>
            <div class="form-group">
                <label asp-for="Customer.RandEndTime" class="control-label"></label>
                <select asp-for="Customer.RandEndTime" class="form-control" asp-items="ViewBag.Time"></select>
            </div>
            @Html.HiddenFor(model => model.AllCategoriesWithPlaceDetails)
            <input type="submit" value="Submit" class="btn btn-default" />
        </form>
    </div>
</div>