
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="container" style="padding-top:10em; width:30% ">
    <div class="row">
        <div class="col-sm-12">
            <div class="modal-content" style="background-color:#f6f5f3; border-radius:75px">
                <div class="modal-header" style="background-color:#f6f5f3; border-radius:75px">
                    <center>
                        <h4 class="modal-title" id="myModal" style="padding-top:20px">Finding Places Open</h4>
                    </center>
                    <div>
                        <div class="modal-body" style="background-color:#f6f5f3; border-radius:75px">
                            <center>
                                <div>
                                    <img  style="height:15em; width:15em" src="https://cdn-images-1.medium.com/max/1600/0*smsSMhaW2J5RgY8G.gif" />
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>